# Set in Python

**Set is a collection of unique elements.
Set is unordered and unindexed.
Set is mutable.
Set is represented by curly braces {}.
Set is created by using set() function.
Set does not allow duplicate elements.**

## Set methods

- **add()**	Adds an element to the set
- **clear()**	Removes all the elements from the set
- **copy()**	Returns a copy of the set
- **difference()**	Returns a set containing the difference between two or more sets
- **difference_update()**	Removes the items in this set that are also included in another, specified set
- **discard()**	Remove the specified item
- **intersection()**	Returns a set, that is the intersection of two other sets
- **intersection_update()**	Removes the items in this set that are not present in other, specified set(s)
- **isdisjoint()**	Returns whether two sets have a intersection or not
- **issubset()**	Returns whether another set contains this set or not
- **issuperset()**	Returns whether this set contains another set or not
- **pop()**	Removes an element from the set
- **remove()**	Removes the specified element
- **symmetric_difference()**	Returns a set with the symmetric differences of two sets
- **symmetric_difference_update()**	inserts the symmetric differences from this set and another
- **union()**	Return a set containing the union of sets
- **update()**	Update the set with the union of this set and others

## Creating a set

In [1]:
set1 = {1, 2, 3, 4, 5}
print(set1)
set2 = {1, 2, 3, 1, 2, 3}
print(set2)
set3 = {1, 4, 5, 2, 3}
print(set3)

{1, 2, 3, 4, 5}
{1, 2, 3}
{1, 2, 3, 4, 5}

## Accessing elements of a set

In [2]:
set1 = {1, 2, 3, 4, 5}
for i in set1:
    print(i, end = " ")

1 2 3 4 5

## Adding elements to a set

In [3]:
set1 = {1, 2, 3, 4, 5}
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [4]:
set1 = {1, 2, 3, 4, 5}
set1.update([6, 7, 8])
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
set1 = {1, 2, 3, 4, 5}
set1.update([6, 7], {8, 9, 10})
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
set1 = {1, 2, 3, 4, 5}
set1.update([6, 7], {8, 9, 10}, [11, 12])
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

## Removing elements from a set

In [7]:
set1 = {1, 2, 3, 4, 5}
set1.remove(3)
print(set1)

{1, 2, 4, 5}

In [8]:
set1 = {1, 2, 3, 4, 5}
set1.discard(3)
print(set1)

{1, 2, 4, 5}

In [9]:
set1 = {1, 2, 3, 4, 5}
set1.pop()
print(set1)
set1.pop()
print(set1)

{2, 3, 4, 5}
{3, 4, 5}

In [10]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [11]:
set1 = {1, 2, 3, 4, 5}
del set1
# print(set1) # NameError: name 'set1' is not defined

## Set operations

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.union(set2))
print(set1 | set2)
print(set1.intersection(set2))
print(set1 & set2)
print(set1.difference(set2))
print(set1 - set2)
print(set1.symmetric_difference(set2))
print(set1 ^ set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.isdisjoint(set2))
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False
False

## Set comprehension

In [14]:
set1 = {i for i in range(1, 6)}
print(set1)

{1, 2, 3, 4, 5}

In [15]:
set1 = {i for i in range(1, 11) if i % 2 == 0}
print(set1)

{2, 4, 6, 8, 10}

## Nested set comprehension

In [16]:
set1 = {i for i in range(1, 6)}
set2 = {i for i in range(6, 11)}
set3 = {i for i in set1.union(set2)}
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
set1 = {i for i in range(1, 6)}
set2 = {i for i in range(6, 11)}
set3 = {i for i in set1.union(set2) if i % 2 == 0}
print(set3)

{2, 4, 6, 8, 10}

In [18]:
set1 = {i for i in range(1, 6)}
set2 = {i for i in range(6, 11)}
set3 = {i for i in set1.union(set2) if i in set1 and i in set2}
print(set3)

set()

In [19]:
set1 = {i for i in range(1, 6)}
set2 = {i for i in range(6, 11)}
set3 = {i for i in set1.union(set2) if i in set1 or i in set2}
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}